# Bootcamp Data Science Aplicada

# Módulo 04 - Machine Learning e Saúde

Notebook para o acompanhamento das aulas e resoluções dos desafios propostos.

# Importação das Bibliotecas

In [34]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Aula 01 - Machine Learning e Saúde

In [2]:
data_url = 'https://github.com/diascarolina/data-science-bootcamp/blob/main/data/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true'

dados = pd.read_excel(data_url)

In [4]:
dados.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

## Desafios

**Desafio 01:** Se você não conhece o Kaggle, explore um pouco os datasets, competições e discussões para verificar o quão rico é esta plataforma. ✅

**Desafio 02:** Leia a descrição do problema proposto pelo Sírio Libanês, tentando entender qual é o real problema. Antes de continuar para as próximas aulas, debata no Discord suas conclusões sobre o projeto.
> [Link para o problema proposto (no Kaggle)](https://www.kaggle.com/S%C3%ADrio-Libanes/covid19)

> **Problema 01: É possível prever a admissão de pacientes com Covid-19 na UTI?**
>> Aqui focamos em quais pacientes devem ir pra UTI, para que os hospitais possam alocar seus recursos para o melhor tratamento dessas pessoas.

> **Problema 02: É possível prever quais paciente não precisarão ir para a UTI?**
>> Aqui focamos em quais pacientes não precisarão de terapia intensiva, para que os médicos possam dar alta para esse grupo e acompanhar esses pacientes remotamente.

## O Que Aprendemos Nessa Aula:
- O que é o Kaggle e como utilizar;
- Como interpretar o problema proposto pelo Sírio Libanês;
- O que é uma classificação binária.

# Aula 02 - Desenvolvimento no Kaggle

In [5]:
dados.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [6]:
dados.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1925.000000,1925.000000,1925.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1177.000000,1231.000000,1239.000000,1240.000000,1240.000000,1240.000000,1177.000000,1231.000000,1239.000000,1925.000000
mean,192.000000,0.467532,0.368831,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.703683,-0.770338,-0.887196,-0.786997,-0.715950,-0.817800,-0.719147,-0.771327,-0.886982,0.267532
std,111.168431,0.499074,0.482613,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.482097,0.319001,0.296147,0.324754,0.419103,0.270217,0.446600,0.317694,0.296772,0.442787
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,192.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-0.976190,-0.979798,-1.000000,-0.984944,-0.989822,-1.000000,-0.975924,-0.980333,0.000000
75%,288.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.647059,-0.595238,-0.878788,-0.645482,-0.522176,-0.662529,-0.634409,-0.594677,-0.880155,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
dados['ICU']

0       0
1       0
2       0
3       0
4       1
       ..
1920    0
1921    0
1922    0
1923    0
1924    0
Name: ICU, Length: 1925, dtype: int64

In [8]:
dados['ICU'].value_counts()

0    1410
1     515
Name: ICU, dtype: int64

## Desafios

**Desafio 01:** Pesquisar aprendizado supervisionado, não-supervisionado, por reforço e mais.

**Desafio 02:** Pesquisar sobre classificação, regressão e outros problemas que podem ser solucionados com Machine Learning.

## O Que Aprendemos Nessa Aula:
- Como usar os notebooks direto do Kaggle;
- O que são algoritmos supervisionados;
- O que são dados anonimizados e sua relevância da perspectiva ética.

# Aula 03 - Modelos de Machine Learning

In [10]:
X_columns = dados.describe().columns
dados_limpos = dados.dropna()

In [13]:
y = dados_limpos['ICU']
X = dados_limpos[X_columns].drop(['ICU'], axis = 1)

In [14]:
modelo = LogisticRegression()
modelo.fit(X, y)

/home/carolina/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
modelo.predict([X.iloc[4]])

array([1])

In [17]:
X.iloc[4]

PATIENT_VISIT_IDENTIFIER           2.000000
AGE_ABOVE65                        0.000000
GENDER                             0.000000
DISEASE GROUPING 1                 0.000000
DISEASE GROUPING 2                 0.000000
                                     ...
BLOODPRESSURE_SISTOLIC_DIFF_REL   -0.343258
HEART_RATE_DIFF_REL               -0.576744
RESPIRATORY_RATE_DIFF_REL         -0.695341
TEMPERATURE_DIFF_REL              -0.505464
OXYGEN_SATURATION_DIFF_REL        -0.900129
Name: 14, Length: 228, dtype: float64

In [18]:
y.iloc[4]

1

In [19]:
sum(modelo.predict(X) == y)

497

In [21]:
sum(modelo.predict(X) != y)

48

In [23]:
accuracy = sum(modelo.predict(X) == y) / len(y) * 100
accuracy

91.19266055045871

## Desafios

**Desafio 03:** Qual o motivo de jogar fora o ICU do dado X? O que acontece se estiver no X? Pq seria bom/ruim?

**Desafio 04:** Pesquisar sobre ética em data science/ciência de dados e inteligência artificial.

## O Que Aprendemos Nessa Aula
- O que é a uma regressão logística;
- Como treinar o seu primeiro modelo de Machine Learning.

# Aula 04 - Métricas e Avaliações

In [25]:
y.value_counts()

0    281
1    264
Name: ICU, dtype: int64

In [29]:
modelo = DummyClassifier('most_frequent')
modelo.fit(X, y)
sum(modelo.predict(X) == y) / len(y) * 100

51.559633027522935

In [32]:
accuracy_score(y, modelo.predict(X))

0.5155963302752293

In [33]:
np.random.seed(73246)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y)

In [38]:
print(f'Tamanho do X treino: {len(X_train)} || Tamanho do y treino: {len(y_train)}')
print(f'Tamanho do X teste: {len(X_test)} || Tamanho do y teste: {len(y_test)}')

Tamanho do X treino: 408 || Tamanho do y treino: 408
Tamanho do X teste: 137 || Tamanho do y teste: 137

In [39]:
modelo = LogisticRegression()
modelo.fit(X_train, y_train)

y_prediction = modelo.predict(X_test)
accuracy_score(y_test, y_prediction)

/home/carolina/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8321167883211679

In [40]:
y_train.value_counts(normalize = True)

0    0.514706
1    0.485294
Name: ICU, dtype: float64

In [41]:
y_test.value_counts(normalize = True)

0    0.518248
1    0.481752
Name: ICU, dtype: float64

## Desafios

**Desafio 05:** Decida quanto você vai escolher para treino e quanto para teste. Quanto as pessoas utilizam e qual o motivo?

**Desafio 06:** Olhe a documentação da ```LogisticRegression```. O que tem de parâmetro em comum com o ```train_test_split```? O que isso significa pra nós?

## O Que Aprendemos Nessa Aula
- Como metrificar um modelo de classificação, usando o Scikit-Learn;
- Como realizar o treinamento dividindo em dados de treino e teste.

# Aula 05 - Compreendendo o Problema Real